body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 15px;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}

.share-button:hover {
  cursor: pointer;
}

.share-button svg {
  margin-left: 12px;
  margin-top: 12px;
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: (10, 10, 10);
}

a p {
  color: rgb(10, 10, 10);
}

.tile {
  width: 100%;
  background-color: white;
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41);
  transform: scale(1.02);
}

.icon {
  margin: 8px;
  width: 40px;
  height: 40px;
}

.icon svg {
  margin-left: 5px;
  margin-top: 5px;
}

.tile-share-button {
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.tile-share-button svg {
  margin-left: 12px;
  margin-top: 12px;
}

.image-container {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
